body
{
	background: #a5ffc4;
}

.nav
{
	background: lightgreen;
}


#inputPlayer
{
	margin-left: 450px;
	margin-right: 20px;
	margin-top: 20px;
}

#button1
{
	margin-top: 20px;
	background: lightgreen;
	
}

.form-group
{

}

/* Text area chat */
#exampleFormControlTextarea1
{
	margin-top: 400px;
	margin-left: 350px;
}

/*input chat textfield */
#exampleFormControlInput1
{
	margin-left: 350px;

}

/*button to submit chat message */
#button2
{
	background: lightgreen;
	margin-top: 20px;
	margin-left: 830px;

}






	/* Text area chat */
#exampleFormControlTextarea1
{
	margin-top: 400px;
	margin-left: 0;
}

/*input chat textfield */
#exampleFormControlInput1
{
	margin-left: 0;

}

/*button to submit chat message */
#button2
{
	background: lightgreen;
	margin-top: 20px;
	margin-left: 0;

}

/* Where we dump all 3 div boxes: player1, player2, and Winnder Div */
#playerContainers
{
	/*border: 1px solid red;*/
	margin-top: 20px;
	margin-left: 150px;
	
}

/* Player 1 Div */
#box0
{
 float: left;
 border: 1px solid black;
 font-size: 20px;

 height: 300px;
 width: 300px;

}

/* Winner display div*/
#winnerContainer
{
	float: left;
	border: 1px solid black;
	font-size: 20px;

	height: 300px;
 	width: 300px;


}

/* Player 2 Div */
#box1
{
 float: left;
 border: 1px solid black;
 font-size: 20px;

 height: 300px;
 width: 300px;

}






/* Waiting for player1 & 2 */
.header0	/* player1 */
{
	

}

.header1	/* player2 */
{
	

}


/* displays player name inside playerDiv. Will hide until player enters name */
.name
{
	display: none;

}

/* User selects paper rock or scissors and display these options on each player turn  for each player*/

/*player 1 */
.paper0
{
	display: none;
}

/*player 2 */
.paper1
{
	display: none;
}

/*player 1 */
.rock0
{
	display: none;
}

/*player 2 */
.rock1
{
	display: none;
}

/*player 1 */
.scissors0
{
	display: none;
}

/*player 2 */
.scissors1
{
	display: none;
}

/* player 1 */
.win_lose0
{
	display: none;
}

/* player 2 */
.win_lose1
{
	display: none;
}


/* And the Winner is <p> tage */
#winnerMsg
{
	display: none;
}




@media screen and (max-width: 992px)
{
	#inputPlayer
	{
		margin-left: 0;
		margin-right: 0;
		margin-top: 20px;
	}
}